@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

/* styles.css code taken from https://medium.com/free-code-camp/vanilla-javascript-tutorial-build-a-memory-game-in-30-minutes-e542c4447eae and modified */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Yusei Magic', sans-serif;
  padding: 0;
  font-size: 16px;
  background-color: #a9a9a9;
}



.modal-body {
  text-align: center;
  width: 100%;
}

.memory-game {
  height: 640px;
  width: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
}

.col {
  margin: auto;
  display: flex;
  position: relative;
  width: 100%;
  color: rgb(139, 2, 2);
  text-align: center;
  padding-bottom: 10px;
}

.row {
  margin: auto;
  display: flex;
  position: relative;
  vertical-align: center;
  width: 100%;
  color: rgb(139, 2, 2);
  text-align: center;
  padding-bottom: 10px;
  justify-content: center;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 15px;
  background: #808080;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.text {
  text-align: center;
  color: rgb(139, 2, 2);
  display: block;
}
/* styles.css code taken from https://github.com/karzuin/MS2/blob/master/assets/css/style.css and modified*/

.scoreboard {
  height: 50px;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 16px;
}

.moves,
.timer {
  margin: auto;
  display: flex;
  position: relative;
  width: 100%;

  text-align: center;
  padding-bottom: 10px;
  font-family: "Indie Flower", sans-serif;
  font-size: 16px;
}

.restart {
  border: none;
  background-color: white;
  height: fit-content;
  margin-top: 5px;
  font-family: "Indie Flower", sans-serif;
 
  font-size: 16px;
  width: 100%;
}

.restart:hover {
  transform: scale(1.3);
  cursor: pointer;
}
